@import "../../../styles/colors";

.chat-window-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  height: 100%;
  padding: 0 0 1rem 1rem;

  .previous-conversation-container {
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    overflow-y: auto;
  }

  .chat-input {
    border: 1px solid $blue-400;
    outline-color: $blue-400;
    width: 100%;
    padding: 0.5rem;
    resize: none;
    overflow-y: auto;
  }
}
